h1{
    font-size: xx-large;
}
p{
    font-size:small;
    font-weight:bold;
    padding:0px 0px;
}
body{
    text-align:center;
    background-color:hsla(30,70%,80%,0.3)
 }
#submit{
    background-color:green;
    font-size:large;
    font-weight:bold;
    padding:20Px;
    min-width:750px;
}
*{
    min-width:550px,;
    padding:8Px 3PX;
    min-width:660PX;
}
*:hover{
    background-color: pink;
     }
     .textarea{
         padding:60px;
     }
     #submit:hover{
        background-color:yellowgreen;
     }